<br>
<br>
<br>
<br>

<!--
<div *ngFor="let usuario of users | async">
    <h1 class="title">{{usuario.name}} {{usuario.surname}}</h1>
    <h1 class="title">{{usuario.email}}</h1>
</div>

<div *ngFor="let jaja of productosCarrito">
    <h1>{{jaja.name}}</h1>
</div>
-->
<!--
<div *ngFor="let prod of cosascarrito | async">
    <h1 class="title">{{prod.name}}</h1>
</div>-->












<div class="CartContainer" id="Carrito2">
    <div class="HeaderCart">
        <h3 class="Heading">Shopping Cart</h3>
        <h5 class="Action">Remove all</h5>
    </div>

    <div *ngFor="let producto of productosCarrito">
        <div class="Cart-Items pad">
            <div class="image-box"><img src='{{producto.img}}' height="130px" alt=""/></div>
            <div class="about">
                <h1 class="title">{{producto.name}}</h1>
                <h3 class="subtitle">{{producto.description}}</h3>
                <div class="puntoVerde"><img src='https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/veg.png?alt=media&token=ed46b324-a4b7-4134-a057-7ce9ffb5b3db' height="20px" alt=""></div>
            </div>

            <div class="prices">
                <div class="amount">
                    {{producto.price|currency}}
                </div>
                <div class="remove">Remove</div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <a href="/shipping">
            <button class="button">Proceder al pago</button>
        </a>
    </div>
</div>




<!--
<p class="text-4x1 text-gray-800">Productos</p>



<div *ngFor="let producto of products | async">
    <img src='{{producto.img}}'  width="40" height="40" alt="">

    <div class="text-gray-900 font-bold text-xl mb-2">{{producto.name}}</div>
    <p class="text-gray-700 text-base">{{producto.description}}</p>
    <p class="text-3x1 font-bold text-gray-800">{{producto.price|currency}}</p>
    </div>

adios

-->














