<footer>
    <ul class="info">
        <li><a href="information.html" class="bold-footer">INFORMACIÓN</a></li>
        <li class="content"><a href="information.html" class="regular-footer">SOBRE NOSOTROS</a></li>
        <li><a href="information.html" class="regular-footer">CONTACTO</a></li>
    </ul>
    <ul class="ayuda">
        <li><a href="help.html" class="bold-footer">AYUDA</a></li>
        <li class="content"><a href="help.html" class="regular-footer">FAQ</a></li>
        <li><a href="generar-ticket.html" class="regular-footer">GENERA UN TICKET</a></li>
    </ul>
    <ul class="comunidad">
        <li><a href="sorteo.html" class="bold-footer">COMUNIDAD</a></li>
        <li class="content"><a href="sorteo.html" class="regular-footer">BLOG</a></li>
        <li><a href="sorteo.html" class="regular-footer">SORTEOS</a></li>
    </ul>
    <ul class="redes">
        <li class="bold-footer">REDES SOCIALES</li>
        <li class="content"><a href="https://twitter.com/vulthanosES" target="_blank"><i class="fa-brands fa-twitter-square tw"></i></a></li>
        <li><a href="https://www.instagram.com/vulthanoses/" target="_blank"><i class="fa-brands fa-instagram ig"></i></a></li>
        <li class="content"><a href="https://discord.gg/3mB3FTdu" target="_blank"><i class="fa-brands fa-discord disc"></i></a></li>
        <li><a href="https://www.facebook.com/Vulthanos-114602274562141" target="_blank"><i class="fa-brands fa-facebook-square fb"></i></a></li>
    </ul>
</footer>
