<footer class="footer_help">
    <ul class="info">
        <li><a routerLink="/information" class="bold-footer">INFORMACIÓN</a></li>
        <li class="content"><a routerLink="/information" class="regular-footer">SOBRE NOSOTROS</a></li>
        <li><a routerLink="/information" class="regular-footer">CONTACTO</a></li>
    </ul>
    <ul class="ayuda">
        <li><a routerLink="/help" class="bold-footer">AYUDA</a></li>
        <li class="content"><a routerLink="/help" class="regular-footer">FAQ</a></li>
        <li><a href="generar-ticket.html" class="regular-footer">GENERA UN TICKET</a></li>
    </ul>
    <ul class="comunidad">
        <li><a href="sorteo.html" class="bold-footer">COMUNIDAD</a></li>
        <li class="content"><a href="sorteo.html" class="regular-footer">BLOG</a></li>
        <li><a href="sorteo.html" class="regular-footer">SORTEOS</a></li>
    </ul>
    <ul class="redes">
        <li class="bold-footer">REDES SOCIALES</li>
        <li class="content"><a href="" target="_blank"><i class="fa-brands fa-twitter-square tw"></i></a></li>
        <li><a href="" target="_blank"><i class="fa-brands fa-instagram ig"></i></a></li>
        <li class="content"><a href="" target="_blank"><i class="fa-brands fa-discord disc"></i></a></li>
        <li><a href="" target="_blank"><i class="fa-brands fa-facebook-square fb"></i></a></li>
    </ul>
</footer>
