<section class="titulo-central">Informacion</section>

<h2 class="sobre-nosotros">SOBRE NOSOTROS</h2>
<p class="parrafo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
  venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
  consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus”</p>

<section class="imagen-corp">
  <img src="/https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Finformation%2Fimagen-corp_350x250.png?alt=media&token=8e8cc151-f137-4f24-a21a-960c52fef1dd" alt="imagen del setup">
</section>

<h1 class="contacto">CONTACTO</h1>

<section class="departamento-negocios">
  <h2>Departamento de negocios</h2>
  <p>¿Quieres trabajar con nosotros o tienes  preguntas relacionadas con el negocio?</p>
  <p class="correo">business@vulthanos.com</p>
</section>


<section class="departamento-legal">
  <h2>Departamento legal</h2>
  <p>Si tienes alguna duda relacionadas con algun asunto legal, contáctenos.</p>
  <p class="correo">legal@vulthanos.com</p>
</section>


<section class="departamento-trabajo">
  <h2 class="titulo3">Departamento de talentos</h2>
  <p>¿Estas buscando trabajo? Ponte en contacto con nuestro equipo de talento.</p>
  <p class="correo">talento@vulthanos.com</p>
</section>
