<div class="container">

    <div class="card-container">

        <div class="front">
            <div class="image">
                <img src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fpurchase%2FcreditCardChips%2Fchip.png?alt=media&token=6661be85-5ea1-4364-9202-d9c82f611372" alt="">
                <img src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fpurchase%2FcreditCardChips%2Fvisa.png?alt=media&token=2c712023-8a86-454f-b28d-eb0692eb23f8" alt="">
            </div>
            <div class="card-number-box">################</div>
            <div class="flexbox">
                <div class="box">
                    <span>card holder</span>
                    <div class="card-holder-name">full name</div>
                </div>
                <div class="box">
                    <span>expires</span>
                    <div class="expiration">
                        <span class="exp-month">mm / </span>
                        <span class="exp-year">yy</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="back">
            <div class="stripe"></div>
            <div class="box">
                <span>cvv</span>
                <div class="cvv-box"></div>
                <img src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fpurchase%2FcreditCardChips%2Fvisa.png?alt=media&token=2c712023-8a86-454f-b28d-eb0692eb23f8" alt="">
            </div>
        </div>

    </div>

    <form action="" name="registration">
        <div class="submit-form">
            <div *ngIf="!submitted">

                <div class="form-group inputBox">
                    <label for="dirección">Dirección Completa</label>
                    <input
                        type="text"
                        class="form-control"
                        id="dirección"
                        required
                        [(ngModel)]="tutorial.address"
                        name="dirección"
                    />
                </div>

                <div class="form-group inputBox">
                    <label for="NúmeroDeTeléfono">Número de Teléfono</label>
                    <input
                        type="number"
                        class="form-control"
                        id="NúmeroDeTeléfono"
                        required
                        [(ngModel)]="tutorial.PhoneNumber"
                        name="NúmeroDeTeléfono"
                    />
                </div>



                <div class="form-group inputBox">
                    <label for="Tarjeta">Número de Tarjeta</label>
                    <input
                        type="number"
                        class="form-control card-number-input"
                        id="Tarjeta"
                        required
                        [(ngModel)]="tutorial.CardNumber"
                        name="Tarjeta"
                    />
                </div>

                <div class="form-group inputBox">
                    <label for="Name">Nombre (cómo aparece en la tarjeta)</label>
                    <input
                        type="text"
                        class="form-control card-holder-input"
                        id="Name"
                        required
                        [(ngModel)]="tutorial.CardHolder"
                        name="Name"
                    />
                </div>



                <div class="flexbox">
                <div class="inputBox">
                    <span>expiration mm</span>
                    <select name="mm" id="mm" required
                            [(ngModel)]="tutorial.mm" class="month-input">
                        <option value="month" selected disabled>month</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>

                    <div class="inputBox">
                        <span>expiration yy</span>
                        <select name="yy" id="yy" required
                                [(ngModel)]="tutorial.yy" class="year-input">

                            <option value="year" selected disabled>year</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                        </select>
                    </div>

                    <div class="inputBox">
                        <span>cvv</span>
                        <input type="text" maxlength="4" class="form-control cvv-input"
                               id="cvv"
                               required
                               [(ngModel)]="tutorial.cvv"
                               name="cvv"
                        />
                    </div>
                </div>

                <button (click)="saveTutorial()" class="btn btn-success submit-btn">Submit</button>
            </div>
            <div *ngIf="submitted">
                <h4>Estamos procesando el pago. Puedes continuar.</h4>
                <button class="btn btn-success submit-btn" onclick="window.location.href='/success'">Finalizar Compra</button>
            </div>
        </div>
    </form>
</div>



