<div id="AllSuccess">
    <div class="contentPurchase">

        <div id="successful"><img src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fpurchase%2Fpagoexitoso%20(2).png?alt=media&token=92cd6f50-6809-45bd-b9c0-23599915dece" alt="successful" width="200" height="200"></div>
        <h1 class="TextoCompraFinal">Pago completado exitosamente.</h1>
        <a href=""> <h2 class="GoToMain">Ir a la página de inicio</h2> </a>


        <div class="miniSecion">
        <table class="" width="250" cellspacing="0">
            <tbody>
            <tr class="TableAlign">
                <td>Te hemos enviado un correo a tu e-mail.<br> Revisa tu bandeja de entrada.</td>
            </tr>
            </tbody>
        </table>

        <label class="politicas">¿No lo has recibido? <a href="https://bit.ly/3K8VERM">Clica aquí</a> </label>
    </div>
    </div>

</div>
