<div class="login_popup_overlay" id="login_popup_overlay">
  <div class="login_popup" id="login_popup">
    <a href="#" id="btn-cerrar-login_popup" class="btn-cerrar-login_popup"><i class="fas fa-times"></i></a>
    <form action="" method="GET" class="login_form" id="login_form">
      <section>
        <ul class="login_popup_title">
          <li class="bold login_t1"><a>INICIA SESIÓN</a></li>
          <li class="regular login_t2">¿No tienes cuenta? <a class="link" id="open_singup">Registrate</a></li>
        </ul>
      </section>
      <section>
        <label class="login_form_field"><input class="text-field bold" name="" id="login_email" type="email" placeholder="Email"></label>
        <label class="login_form_field">
          <input class="text-field bold" name="" id="login_password" type="password" placeholder="Password">
          <img class="login_eye login_activation" id="login_sin_vision" src="/assets/IMGS/sing_up/ojo_cerrado.png" alt="">
          <img class="login_eye" id="login_vision" src="/assets/IMGS/sing_up/ojo_abierto.png" alt="">
        </label>
      </section>
      <section class="login_popup_footer">
        <p class="warnings" id="login_warnings"></p>
        <input id="login_btn" type="submit" class="login_item login_btn bold" onclick="return formSubmit()" value="Iniciar Sesión">
        <a class="login_item link forgot">¿Has olvidado tu contraseña?</a>
      </section>
    </form>
  </div>
</div>
