<section class="titulo-central">Ayuda</section>
<h1 class="titulo">Genere un ticket</h1>

<section class="linea-temporal">
    <img src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fbarra_progreso_ticket2.png?alt=media&token=810e1466-0c9a-4871-9329-e4146f4ac14a" alt="barra progreso 1">
</section>

<section class="fin-ticket">
    <img src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fpagoexitoso_60x60.png?alt=media&token=c7e442e9-487b-478c-af7d-2430e9ced9e2" alt="pago exitoso">
    <p>Hemos recibido tu ticket.<br>Pronto recibira tu respuesta</p>
</section>

<section class="volver-inicio">
    <button class="volver" type="button">
        <a [routerLink]="['/']" style="text-decoration: none">Ir a la pagina de inicio</a>
    </button>
</section>
