<section class="titulo-central">Ayuda</section>
<h1 class="titulo">Genere un ticket</h1>

<section class="linea-temporal">
    <img src="./assets/IMGS/barra_progreso_ticket2.png" alt="barra progreso 1">
</section>

<section class="fin-ticket">
    <img src="./assets/IMGS/pagoexitoso_60x60.png" alt="pago exitoso">
    <p>Hemos recibido tu ticket.<br>Pronto recibira tu respuesta</p>
</section>

<section class="volver-inicio">
    <button class="volver" type="button">
        <a [routerLink]="['/']" style="text-decoration: none">Ir a la pagina de inicio</a>
    </button>
</section>
