<header class="header">
    <a [routerLink]="['/']"><img class="logo" src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fheader%2Flogo.png?alt=media&token=bff5153a-1e6f-4244-a626-db9e66a87da1" alt=""></a>
    <nav>
        <ul class="header_ul">
            <li><a routerLink="/search"><span class="baja"><img class ="icon icon-consolas" src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fheader%2Fconsola.png?alt=media&token=4fd3bf33-a4d2-41d9-89d8-657bbc909c74" alt=""></span><label class="header-text">CONSOLAS</label></a></li>
            <li><a routerLink="/search"><span class="baja"><img class ="icon icon-juegos" src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fheader%2Fjuego.png?alt=media&token=de752f1e-c3be-4276-bf16-9a64fc61cb9b" alt=""></span><label class="header-text">JUEGOS</label></a></li>
            <li><a routerLink="/search"><span class="baja"><img class ="icon icon-accesorios" src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fheader%2Fauriculares.png?alt=media&token=0212a249-7426-44db-9dee-b16afbcca38b" alt=""></span><label class="header-text">ACCESORIOS</label></a></li>
            <li class="mvl_inactive"><a routerLink="/search"><span class="baja"><img class ="icon icon-controladores" src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fheader%2Fmando.png?alt=media&token=44a085f1-8f16-4d83-b1c7-4f42201318b3" alt=""></span><label class="header-text">CONTROLADORES</label></a></li>
            <li class="mvl_inactive"><a routerLink="/search"><span class="baja"><img class ="icon icon-componentes" src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fheader%2Fcomponente.png?alt=media&token=4b0e2f7e-8a83-4449-9c89-9817f5c64cd7" alt=""></span><label class="header-text">COMPONENTES</label></a></li>
            <li class="mvl_inactive"><a routerLink="/search"><span class="baja"><img class ="icon icon-pc" src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fheader%2Fpc.png?alt=media&token=12053d06-b202-46b0-957b-74b21b0a927b" alt=""></span><label class="header-text">PC</label></a></li>
        </ul>
    </nav>
  <div class="buscar"><label>
    <input type="text" placeholder="Buscar" required>
    <i class="fa-solid fa-magnifying-glass lupa"></i>
  </label></div>
  <a routerLink="/cart"><i class="fa-solid fa-cart-shopping carrito"></i></a>
  <a onclick="successfulLogin()" id="profile_link"><i class="fa-regular fa-circle-user user" id="user_profile"></i></a>
</header>
