<section class="contenedor-newsletter">

    <h1 class="titulo1">Newsletter de Vulthanos™</h1><br>
    <h2 class="titulo2">Suscríbete al boletín informativo para no perderte las ofertas más importantes de nuestra comunidad, productos, sorteos...</h2><br>
    <h3 class="titulo3"><small><i>Suscribiendote, estas de acuerdo con los terminos y condiciones de uso y la politica de privacidad, entendiendo que Vulthanos™ recibira tu correo electronico</i></small> </h3>


    <section class="container">
        <section class="boton">
            <section class="suscripcion">
                <form>
                    <input type="email" placeholder="Suscribete ahora" pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/" required>
                    <button>
                        <a routerLink="/newsletter-end" style="text-decoration: none" target="_blank"><span>Suscribete</span></a>
                    </button>
                </form>
            </section>
        </section>
    </section>

</section>
