<div class="singup_popup_overlay" id="singup_popup_overlay">
  <div class="singup_popup" id="singup_popup">
    <a href="#" id="btn-cerrar-singup_popup" class="btn-cerrar-singup_popup"><i class="fas fa-times"></i></a>
    <form action="" method="POST" id="singup_form">
      <section class="singup_popup_header">
        <ul class="singup_popup_title">
          <li class="bold singup_t1"><a>REGISTRARSE</a></li>
          <li class="regular singup_t2">¿Ya tienes cuenta? <a class="link" id="open_login">Identificate</a></li>
        </ul>
      </section>
      <section class="singup_popup_content">
        <label class="singup_form_field"><input class="text-field  bold" type="text" name="nombre" id="name-field" placeholder="Nombre" required></label>
        <label class="singup_form_field"><input class="text-field  bold" type="text" name="apellidos" id="surname-field" placeholder="Apellido" required></label>
        <label class="singup_form_field"><input class="text-field  bold" type="email" name="correo" id="email-field" placeholder="Email" required></label>
        <label class="singup_form_field">
          <input class="text-field  bold" type="password" name="password" id="singup_password" placeholder="Password" required>
          <img class="singup_eye singup_activation" id="singup_sin_vision" src="/assets/IMGS/sing_up/ojo_cerrado.png" alt="">
          <img class="singup_eye" id="singup_vision" src="/assets/IMGS/sing_up/ojo_abierto.png" alt="">
        </label>
        <label class="singup_form_field"><input class="text-field  bold" type="password" name="password" id="singup_repit_password" placeholder="Password" required></label>
        <div class="use_conditions">
          <input type="checkbox" id="selector">
          <label for="selector" class="selector-lbl"><a class="regular">He leido y acpetado las <a class="link">Condiciones de uso</a></a></label>
        </div>
      </section>
      <section class="singup_popup_footer">
        <p class="warinings_singup_position warnings w_inactive" id="singup_warnings"></p>
        <a class="singup_item"><input type="submit" id="singup_btn" onclick="return singupFormSubmit()" class="bold singup_btn" value="Registrate"></a>
      </section>
    </form>
  </div>
</div>
