<div class="login_popup_overlay" id="login_popup_overlay">
    <div class="login_popup" id="login_popup">
        <a href="#" id="btn-cerrar-login_popup" class="btn-cerrar-login_popup"><i class="fas fa-times"></i></a>
        <form action="" method="GET" class="login_form" id="login_form">
            <section>
                <ul class="login_popup_title">
                    <li class="bold login_t1"><a>INICIA SESIÓN</a></li>
                    <li class="regular login_t2">¿No tienes cuenta? <a class="link" id="open_singup">Registrate</a></li>
                </ul>
            </section>
            <section>
                <label class="login_form_field"><input class="text-field bold" name="" id="login_email" type="email" placeholder="Email"></label>
                <label class="login_form_field">
                    <input class="text-field bold" name="" id="login_password" type="password" placeholder="Password">
                    <img class="login_eye login_activation" id="login_sin_vision" src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fsing_up%2Fojo_cerrado.png?alt=media&token=406a9ff9-61a2-4276-b27c-87d6acf465ef" alt="">
                    <img class="login_eye" id="login_vision" src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fsing_up%2Fojo_abierto.png?alt=media&token=57bcc55f-9948-4d8a-bea6-509651697157" alt="">
                </label>
            </section>
            <section class="login_popup_footer">
                <p class="warnings" id="login_warnings"></p>
                <input id="login_btn" type="submit" class="login_item login_btn bold" value="Iniciar Sesión">
                <a class="login_item link forgot">¿Has olvidado tu contraseña?</a>
            </section>
        </form>
    </div>
</div>
