<section class="titulo-central">Ayuda</section>


<section class="titulo-seccion"><strong>Genere un ticket</strong></section>

<section class="linea-temporal">
    <img src="./assets/IMGS/barra_progreso_ticket1.png" alt="barra progreso 1">
</section>


<div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="submit(signupForm.value)">
        <label>ID del pedido</label>
        <input formControlName="identidad" type="text" class="form-control"/><br>

        <label>Email de contacto</label>
        <input formControlName="email" type="email" class="form-control" required/><br>

        <label>Metodo de pagoㅤㅤ</label>
        <select [(ngModel)]='ngDropdown' name="dropdownOption" id="dropdownOption" class='form-control-desplegable'>
            <option value="1">tarjeta de credito/debito</option>
            <option value="2">paypal</option>
            <option value="3">transferencia bancaria</option>
        </select><br>
    </form>

    <button [disabled]="signupForm.invalid" type="submit" class="boton-continuar" routerLink="/generate-ticket2">Continuar</button>


</div>
