<section class="titulo-central">Ayuda</section>


<section class="titulo-seccion"><strong>Genere un ticket</strong></section>

<section class="linea-temporal">
    <img src="./assets/IMGS/barra_progreso_ticket1.png" alt="barra progreso 1">
</section>


<div class="container">
    <form [formGroup]="formGrp" novalidate>
        <div class="columna-opciones">
            <label for="id-pedido"><strong>Id del pedido</strong></label>
            <input type="text" id="id-pedido" placeholder="Escriba el id del pedido" pattern="[a-zA-Z0-9]+" >
        </div>

        <div class="columna-opciones">
            <label><strong>Correo de contacto</strong></label>&nbsp;
            <label class="show-error"><small>(Obligatorio)</small> </label><br>
            <input type="email" formControlName="emailctrl" placeholder="Introduzca su correo">

            <div *ngIf="emailid['emailctrl'].touched && emailid['emailctrl'].invalid" class="show-error">
                <div *ngIf="emailid['emailctrl'].errors?.['required'] && emailid['emailctrl'].dirty">Introduzca un email valido</div>
                <div *ngIf="emailid['emailctrl'].errors?.['email'] && emailid['emailctrl'].dirty">Introduzca un email valido</div>
            </div>
        </div>

        <div class="columna-opciones">
            <label for="menuPago"><strong>Metodos de pago</strong></label>&nbsp;
            <select [(ngModel)]='ngDropdown' name="menuPago" id="menuPago" class='form-control-desplegable'>
                <option value="1">Tarjeta de credito-debito</option>
                <option value="2">Paypal</option>
                <option value="3">Bizum</option>
            </select>
        </div>



    </form>

    <button type="submit" style="text-decoration: none" class="crear-ticket" routerLink="/generate-ticket2">Continuar</button>


</div>
