<section class="container">

    <h1 class="titulo-ayuda">Ayuda</h1>

    <h2 class="titulo-ticket">Genere un ticket</h2>

    <section class="linea-temporal">
        <img src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fbarra_progreso_ticket2.png?alt=media&token=810e1466-0c9a-4871-9329-e4146f4ac14a" alt="barra progreso 1">
    </section>

    <h3 class="titulo-seccion">Detalles del pedido</h3>



    <form>
        <section class="columna-opciones">
            <label for="correo">Correo de contacto</label>
            <input type="email" id="correo" placeholder="Escriba su correo" pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/" required>
        </section>

        <section class="columna-opciones">
            <label for="comentario">
                <span class="caja-comentario"><strong>¿Algo que añadir?</strong></span><br>
                <span>No dudes en añadir cualquier dato o comentario que cree que podria ayudarnos a solventar el problema</span><br>
            </label>
            <textarea  id="comentario" class="inputForm" maxlength="2000" placeholder="Proporcione detalles importantes aquí ..."></textarea>
        </section>

        <section class="columna-opciones">
            <span class="comentario-imagenes"><strong>Imagen adicional</strong></span>
            <p>Puede adjuntar una imagen que nos ayude a comprender el problema</p>
        </section>

        <section class="columna-opciones">
                <div class="my-3">
                    <app-upload-form></app-upload-form>
                </div>
                <div class="my-2">
                    <app-upload-list></app-upload-list>
                </div>
        </section>


        <button [disabled]="signupForm.invalid" type="submit" class="crear-ticket" routerLink="/ticket-end">Crear ticket</button>


    </form>

</section>
