<section class="container">

    <h1 class="titulo-ayuda">Ayuda</h1>

    <h2 class="titulo-ticket">Genere un ticket</h2>

    <section class="linea-temporal">
        <img src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fbarra_progreso_ticket2.png?alt=media&token=810e1466-0c9a-4871-9329-e4146f4ac14a" alt="barra progreso 1">
    </section>

    <h3 class="titulo-seccion">Detalles del pedido</h3>



    <form>
        <section class="columna-opciones">
            <label for="comentario">
                <span class="caja-comentario"><strong>¿Algo que añadir?</strong></span><br>
                <span>No dudes en añadir cualquier dato o comentario que cree que podria ayudarnos a solventar el problema</span><br>
            </label>
            <textarea  id="comentario" class="inputForm" maxlength="2000" placeholder="Proporcione detalles importantes aquí ..."></textarea>
        </section>

        <section class="columna-opciones">
            <span class="comentario-imagenes"><strong>Imagen adicional</strong></span>
            <p>Puede adjuntar una imagen que nos ayude a comprender el problema</p>
        </section>

        <section class="columna-opciones">

            <input type="file" name="file" (input)="onFileChanged($event)"  accept=".jpeg,.jpg,.png,.svg" multiple/>
            <br />

            <img [src]="downloadableURL"  onerror="this.onerror=null;" />

            <br />

            {{ downloadableURL }}

            <div *ngIf="progressValue | async as val">
                <progress type="warning"  [value]="val"></progress>
                <br />
                <span *ngIf="val<100" style="color:indianred; font-size: 17px; font-weight: 410;">{{ val | number}}% </span>
                <span *ngIf="val == 100" style="color:darkseagreen;  font-size: 17px; font-weight: 410;">Se ha subido correctamente la imagen</span>
            </div>

        </section>


        <button [disabled]="signupForm.invalid" type="submit" class="crear-ticket" routerLink="/ticket-end">Crear ticket</button>


    </form>

</section>
