<section class="pagina-personal">Mi Cuenta</section>

<section>
    <section class="menu-izquierda menu-izq-movil" >
        <nav>
            <ul>
                <li> <a href="#" style="text-decoration:none" class="menu-nav" target="_blank"> Mi cuenta </a></li>
                <li> <a href="#" style="text-decoration:none" class="menu-nav" target="_blank">Mis pedidos </a></li>
                <li> <a href="#" style="text-decoration:none" class="menu-nav" target="_blank">Favoritos </a></li>
                <li> <a href="#" style="text-decoration:none" class="menu-nav" target="_blank">Direcciones</a></li>
                <li> <a href="#" style="text-decoration:none" class="menu-nav" target="_blank">Informacion personal</a></li>
                <li> <a href="#" style="text-decoration:none" class="menu-nav" target="_blank">Tus productos </a></li>
            </ul>
        </nav>
    </section>


    <section class="informacion-contacto"><strong>Informacion de contacto</strong>
        <p><label id="user_name"></label>
            <br>
            <label id="user_mail"></label>
            <br>
        </p>
        <a class="cambio-opciones" href="#" target="_blank">Editar perfil</a> &nbsp;
        <input type="submit" class="cambio-opciones" id="logout"  value="Cerrar sesion">
    </section>

    <section class="newsletter"><strong>VULTHANOS newsletter™</strong> &nbsp;
        <a class="cambio-opciones" href="#" target="_blank">Saber mas</a>
        <p>Hazte miembro de la newsletter de Vulthanos™</p>
        <button>
            <a routerLink="/newsletter" style="text-decoration:none" class="menu-nav" target="_blank"> <span>Unete a la newsletter de Vulthanos™</span> </a>
        </button>
    </section>

    <section class="apartado-direcciones"><strong>Direcciones</strong>&nbsp;
        <a class="cambio-opciones" href="#" target="_blank">Gestionar direcciones</a>
    </section>

    <section>
        <section class="block-direccion-facturacion"><strong>Direccion de facturacion por defecto</strong>
            <p>No hay facturacion por defecto establecida
                <a class="cambio-opciones" href="#" target="_blank">Editar direccion</a>
            </p>
        </section>

        <section class="block-direccion-envio"><strong>Direccion de envio por defecto</strong>
            <p>No hay una direccion de envio predeterminada establecida
                <a class="cambio-opciones" href="#" target="_blank">Editar direccion</a>
            </p>
        </section>
    </section>
</section>


