/*Dise침o Escritorio*/
@media screen and (min-width: 1367px) {
    .slider {
        justify-content: center;
        align-items: center;
    }

    .slider_list {
        max-width: 100%;
        overflow: hidden;
        max-height: 49em;
    }

    .slider_container {
        position: relative;
    }

    .slider_element {
        text-align: center;
        margin-top: 10em;
        max-width: 110.25em;
        max-height: 46.125em;
    }

    .slider_back, .slider_next {
        position: absolute;
        display: block;
        width: fit-content;
        height: fit-content;
        border: none;
        top: calc(100% + 1.3em);
        cursor: pointer;
        line-height: 1.875em;
        text-align: center;
        background: none;
        color: #000000;
        transition: .3s ease all;
        opacity: 0.5;
    }

    .slider_back:hover, .slider_next:hover {
        opacity: 1;
    }

    .slider_back {
        right: 20em;
    }
    .slider_next {
        right: 16.5em;
    }

    .slider_idicators {
        margin-top: 1em;
        max-width: 93%;
        position: absolute;
        left: 18em;
    }

    .fa-circle-chevron-right, .fa-circle-chevron-left {
        font-size: 2.006875em;
    }

    .slider_idicators .glider-dot {
        display: block;
        width: 2.006875em;
        height: 2.006875em;
        background: #FF833D;
        transition: .3s ease all;
        opacity: 0.75;
        margin-top: 0.5em;
    }

    .slider_idicators .glider-dot:hover {
        opacity: 1;
    }

    .slider_idicators .glider-dot.active {
        width: 2.92625em;
        height: 2.92625em;
        background: #E34F21;
        opacity: 1;
        margin-top: 0;
    }
}

/*Dise침o Tablet*/
@media screen and (min-width: 981px) and (max-width: 1366px) {
    .slider {
        justify-content: center;
        align-items: center;
    }

    .slider_list {
        max-width: 100%;
        overflow: hidden;
        max-height: 49em;
    }

    .slider_container {
        position: relative;
    }

    .slider_element {
        text-align: center;
        margin-top: 10em;
        max-width: 110.25em;
        max-height: 46.125em;
    }

    .slider_back, .slider_next {
        position: absolute;
        display: block;
        width: fit-content;
        height: fit-content;
        border: none;
        top: calc(93.5% + 1.3em);
        cursor: pointer;
        line-height: 1.875em;
        text-align: center;
        background: none;
        color: #000000;
        transition: .3s ease all;
        opacity: 0.5;
    }

    .slider_back:hover, .slider_next:hover {
        opacity: 1;
    }

    .slider_back {
        right: 11em;
    }
    .slider_next {
        right: 7em;
    }

    .slider_idicators {
        margin-top: 1em;
        max-width: 93%;
        position: absolute;
        left: 7em;
        top: calc(68% + 1.3em);
    }

    .fa-circle-chevron-right, .fa-circle-chevron-left {
        font-size: 2.006875em;
    }

    .slider_idicators .glider-dot {
        display: block;
        width: 2.006875em;
        height: 2.006875em;
        background: #FF833D;
        transition: .3s ease all;
        opacity: 0.75;
        margin-top: 0.5em;
    }

    .slider_idicators .glider-dot:hover {
        opacity: 1;
    }

    .slider_idicators .glider-dot.active {
        width: 2.92625em;
        height: 2.92625em;
        background: #E34F21;
        opacity: 1;
        margin-top: 0;
    }
}

/*Dise침o M칩vil*/
@media screen and (max-width: 980px){
    .slider {
        justify-content: center;
        align-items: center;
    }

    .slider_list {
        max-width: 100%;
        overflow: hidden;
        max-height:  50em;
    }

    .slider_container {
        width: 100%;
        position: relative;
        left: 7.5em;
    }

    .slider_element {
        text-align: center;
        margin-top: 10em;
        max-width: 100%;
        max-height: 46.125em;
    }

    .slider_back, .slider_next {
        position: absolute;
        display: block;
        width: fit-content;
        height: fit-content;
        border: none;
        top: calc(100% + 1em);
        cursor: pointer;
        line-height: 1.875em;
        text-align: center;
        background: none;
        color: #000000;
        transition: .3s ease all;
        opacity: 1;
    }

    .slider_back {
        right: 20em;
    }
    .slider_next {
        right: 16.5em;
    }

    .slider_idicators {
        margin-top: 1em;
        max-width: 93%;
        position: absolute;
        left: 18em;
    }

    .fa-circle-chevron-right, .fa-circle-chevron-left {
        font-size: 2.006875em;
    }

    .slider_idicators .glider-dot {
        display: block;
        width: 2.006875em;
        height: 2.006875em;
        background: #FF833D;
        transition: .3s ease all;
        opacity: 1;
    }

    .slider_idicators .glider-dot.active {
        width: 2.92625em;
        height: 2.92625em;
        background: #E34F21;
        opacity: 1;
    }
}
